/* .leaflet-container {
  height: 90vh;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.leaflet-container {
  position: relative;
  width: 100%;
  height: 90vh;
}

.map-marker-centered {
  background: url('https://cdn-icons-png.flaticon.com/512/0/619.png') no-repeat center center/cover;
  width: 45px;
  height: 55px;
  position: absolute;
  z-index: 700;
  left: calc(50% - 25px);
  top: calc(50% - 60px);
  transition: all 0.4s ease;
}

.use-location {
  background: rgb(20, 110, 110);
  width: 100%;
  height: 64px;
  position: absolute;
  z-index: 700;
  bottom: calc(-11% + 60px);
  transition: all 0.4s ease;
}

.use-location:hover {
  background: rgb(31, 121, 121);
}

.use-location .title-location {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Poppins';
}